<style media="screen">
            body{
                margin: 0;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
            strong{
                font-weight: 700;
            }
            nav{
                background-color: teal;
            }

            nav ul{
                margin: 0;
            }
            nav li{
                display: inline-block;
            }
            nav li a{
                display: inline-block;
                font-size: 16px;
                font-weight: 300;
                text-decoration: none;
                padding: 15px 30px;
                color: #000;
                background-color: limegreen;
                margin-right: 12px;

            }

            nav li a:hover{
                background-color: rgb(10, 245, 10);
                color: white;
            }

            #middle2{
                margin-right: 80px;
            }
            #middle1{
                margin: 0 80px;
            }

        </style>
        <nav>
            <ul>
                <li><a href="{% url 'userhome' %}"><strong>Home</strong></a></li>
                <li id="middle1"><a href="">My Orders</a></li>
                <li id="middle2"><a href="{% url 'usercart' %}">My Cart : {{ mycart }}</a></li>
                <li><a href="{% url 'home' %}">Logout</a></li>
            </ul>
        </nav>